:root {
    --theme-color-orange: hsl(24, 90%, 51%); /*#f26a11;*/
    --theme-color-blue:hsl(211, 90%, 45%); /*#0c70d9;*/
    --theme-color-light-blue: hsl(211, 90%, 95%);

    --header-seperation-border: 6px solid var(--theme-color-blue);
    --gutter-between-side-and-main: 2em;
}

figure {
    margin: 0;
}

body {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    display: grid;
    grid-template-columns: 25em 1fr;
    grid-template-rows: 10em 1fr;
    grid-template-areas: 
        "logo navigation"
        "side content";

    figure.company-logo {
        grid-area: logo;
        border-bottom: var(--header-seperation-border);
        display: flex;
        justify-content: center;
        padding-right: var(--gutter-between-side-and-main);

        img {
            width: 20em;
        }
    }

    nav {
        grid-area: navigation;

        font-weight: 900;
        font-size: 2em;

        margin-top: 2.68em;
        border-bottom: var(--header-seperation-border);

        a,
        a:visited,
        a:active {
            text-decoration: none;
            color: var(--theme-color-blue);
        }

        a:hover {
            color: var(--theme-color-orange);
        }

        a + a:before {
            content: " \2022  ";
            color: var(--theme-color-orange);
        }
    }
    
    aside {
        grid-area: side;

        display: flex;
        flex-direction: column;
        align-items: center;;

        padding-top: 1.5em;
        border-right: var(--gutter-between-side-and-main) solid white;
        background-color: var(--theme-color-light-blue);

        > dl {
            width: 19.5em;

            dt {
                font-weight: 900;
                font-size: 1em;
                color: var(--theme-color-blue);
            }

            dt:after {
                content: ".";
                color: var(--theme-color-orange);
            }
        
            dd {
                margin-bottom: 1em;
            }
        }
    }

    > section {
        grid-area: content;
        padding-top: 1.5em;
    }
}

section.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}


.myself img {
    width: 19.5em;
}

