:root {
    --theme-color-orange: hsl(24, 90%, 51%); /*#f26a11;*/
    --theme-color-blue:hsl(211, 90%, 45%); /*#0c70d9;*/
    --theme-color-light-blue: hsl(211, 90%, 95%);

    --header-seperation-border: 6px solid var(--theme-color-blue);
    --gutter-between-side-and-main: 2em;
}

figure {
    margin: 0;
}

h2 {
    color: var(--theme-color-blue);
}

body {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    display: grid;
    grid-template-columns: 25em 1fr;
    grid-template-rows: 10em 1fr;
    grid-template-areas: 
        "logo navigation"
        "side content";
    
    > header {
        display: contents;
    }

    figure.company-logo {
        grid-area: logo;
        border-bottom: var(--header-seperation-border);
        display: flex;
        justify-content: center;
        padding-right: var(--gutter-between-side-and-main);

        img {
            width: 20em;
        }
    }

    nav {
        grid-area: navigation;

        font-weight: 900;
        font-size: 2em;

        margin-top: 2.68em;
        border-bottom: var(--header-seperation-border);

        a,
        a:visited,
        a:active {
            text-decoration: none;
            color: var(--theme-color-blue);
        }

        a:hover {
            color: var(--theme-color-orange);
        }

        a + a:before {
            content: " \2022  ";
            color: var(--theme-color-orange);
        }
    }
    
    aside {
        grid-area: side;

        display: flex;
        flex-direction: column;
        align-items: center;;

        padding-top: 1.5em;
        border-right: var(--gutter-between-side-and-main) solid white;
        background-color: var(--theme-color-light-blue);

        > dl {
            width: 19.5em;

            dt {
                font-weight: 900;
                font-size: 1.5em;
                color: var(--theme-color-blue);
            }

            dt:after {
                content: ".";
                color: var(--theme-color-orange);
            }
        
            dd {
                margin-bottom: 1em;
            }
        }
    }

    > section {
        grid-area: content;
        padding-top: 1.5em;
        padding-right: 1.5em;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        hr {
            width: 5em;
            margin: 2em 0 0 0;
            align-self: center;
            border: 2px solid var(--theme-color-orange);
        }
    }
}

section.services {
    display: grid;
    grid-template-columns: [dev-start] 1fr [cloud-start] 1fr [dx-start] 1fr [arch-start] 1fr [arch-end];
    grid-template-rows: [icon-start] 6em [title-start] auto [caption-start] auto [caption-end];
    justify-items: center;
    align-items: center;
    column-gap: 1.5em;
    margin-bottom: 5em;

    figure {
        display: contents;
        
        svg {
            grid-row-start: icon-start;
            grid-row-end: title-start;

            padding: 0 1em 0 1em;
            max-height: 6em;

            color: var(--theme-color-orange);
        }

        figcaption {
            display: contents;

            h2 {
                grid-row-start: title-start;
                grid-row-end: caption-start;
                text-align: center;
                margin: 0 0 0.5em 0;
            }

            p {
                grid-row-start: caption-start;
                grid-row-end: caption-end;
                align-self: start;
                text-align: center;
                margin: 0;
                hyphens: manual;
            }
        }
    }

    p.interested {
        grid-column-start: dev-start;
        grid-column-end: arch-end;
        margin-top: 3em;
    }
}

section.testimonials {
    display: flex;
    flex-direction: column;
    width: 100%;

    h2 {
        align-self: center;
    }
}

.myself img {
    width: 19.5em;
}

sl-carousel-item {

    figure {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {

        }
    }
}

/* Speech bubbles, shoutout to https://nicolasgallagher.com/pure-css-speech-bubbles/demo/ */
.triangle-border {
    position:relative;
    padding:15px;
    margin:1em 0 3em;
    border:5px solid var(--theme-color-orange);
    /* color:#333;
    background:#fff; */
    /* css3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
  }
  
  /* THE TRIANGLE
  ------------------------------------------------------------------------------------------------------------------------------- */
  
  .triangle-border:before {
    content:"";
    position:absolute;
    bottom:-20px; /* value = - border-top-width - border-bottom-width */
    left:40px; /* controls horizontal position */
    border-width:20px 20px 0;
    border-style:solid;
    border-color: var(--theme-color-orange) transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
  }
  
  /* creates the smaller  triangle */
  .triangle-border:after {
    content:"";
    position:absolute;
    bottom:-13px; /* value = - border-top-width - border-bottom-width */
    left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
    border-width:13px 13px 0;
    border-style:solid;
    border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
  }
  